//! **************************************************************************
// Written by: Map P.20131013 on Fri May 15 17:59:48 2020
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

