//! **************************************************************************
// Written by: Map P.20131013 on Wed Oct 07 09:54:17 2020
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

